* {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
 
    color: gray;

  }
  ul {
    list-style: none;
 
  }
  
  /* Header Start */
header  { 
  height: 100vh;
  background-color: white ; 
}
 .navbar {
  background-color:black;
  border-bottom: 3px solid gold; 
  position: fixed;
  z-index: 9999;
  width:100%;
  padding: 1.5rem 2rem ;

}
 #logo{
  font-weight: 600;
  font-size: 24px;
  color: gold;
}
 .navbar nav{
  display: flex;
  margin:auto;
  justify-content:space-between;
  align-items:center;
  max-width: 1100px;

}


 .navbar nav ul{
  display: flex;
 


}
 .navbar nav ul a{
margin:0 35px;
font-weight: 600;

}

.header-content{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  max-width: 1100px;
  margin: auto;
  height: 100%;
  align-items: center;

  padding: 5rem 2rem;
}
.header-content img{
width: 450px;
height: 450px;
border-radius: 50%;

}
.header-text p{
  font-size: 24px;
  font-weight: 500;
}
.header-text h1{
  font-size: 60px;
  font-weight: 700;
}
/*info*/


#info {
  background: wheat;
  padding: 5rem 2rem;
}

#info .title h2 {
  color: #161618;
  font-size: 40px;
  margin-bottom: 20px;
}
#info .title p {
  color: black;
  font-weight: 500;
  font-size: 24px;
}
#info .title {
  text-align: center;
  margin-bottom: 4rem;
}

#contact {
  background: #88aabe;
  padding: 5rem ;
}
#contact .container {
  max-width: 900px;
}
#contact .contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



form {
  width: 50%;
}
form input,
textarea {
  display: block;
  width: 100%;
  padding: 20px 15px;
  margin: 20px 0;
  border: none;
  background-color: #e3e2dd;
}
#footer {
  background-color: #383848;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  font-size: 18 px;
}  
button{
 margin-right: 250px;
 padding: 10px;
}